server:
  port: 8081
spring:
  application:
    name: survey-service
  datasource:
    url: jdbc:mysql://localhost:3306/surveydb
    username: root
    password: pass@word1
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
